@model List<Chef>
@* @await Html.PartialAsync("_NavBar") *@
<h2 class="text-center">Check Out Our Roster of Chefs.</h2>
<hr>
<table class="table table-striped align-items-center">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Number of Dishes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Chef c in Model)
        {
            <tr>
                <td>@c.FirstName @c.LastName</td>
                <td>@(DateTime.Now.Year - c.DateOfBirth.Year)</td>
                <td>@c.AllDishes.Count</td>
            </tr>
        }

    </tbody>
</table>
</div>